#galeria{
    padding-bottom: 0 !important;
    .grid{
        max-height: 255px;
        width: auto;
        padding:0;
        display: grid;
        grid-template-columns: auto auto auto;
        overflow: hidden;
         .grid-image {
             width: 100%;
             transition: all .6s ease;
                &:hover {
                    transform: scale(1.1);
                }
         }
         
    }
}