//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

$font-size-base: 1rem;
$fontFamily: 'Lato', sans-serif;

html{
    font-size: 1rem;
}
h1,h2,h3,h4.h5.h6,p {
    font-family: $fontFamily
}
p{
    line-height: 1.5rem;
}

h1, .h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 5%;
    
}
h2, .h2{
    font-size: 1.1rem;
    text-align: center;

    font-weight: 600;
}
h3, .h3{
    font-size: 1rem;
    color: white;

}
h4, .h4{
        font-weight: bold;
        font-size: 2rem;
}
h5, .h5{
        font-size: 2rem;
}
h6, h6{
    font-size: 1.2rem;
}


a{
    color: #000;
    &:hover{
        text-decoration: none;
    }
}

